<h1>Редактирование</h1>

<%= form_for :dspec, :url => lists_document_specification_path(@dspec), :html => {:method => :put} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="submit_area">
      <%= submit_tag 'Сохранить', :class => 'submit' %>
      <%= link_to 'Назад', admin_lists_document_specifications_path, :class => 'button_style' %>
   </div>
  
<% end %>



