<% if @page_about_services %>
  <%= render :partial => 'pages/show_page', :locals => {:page => @page_about_services} %>
<% else %>
  <%= render :text => 'Страница описания раздела удалена или не опубликована' %>
<% end %>

<%= render :partial => 'service_for_user', :collection => @services %>

<div class="fl_clear">

</div>

