<h2>Прайсы</h2>
<%= link_to 'Прайс на печать фото',  admin_pricelist_fotoprints_path %> <br />
<%= link_to 'Прайс на сканирование',  admin_pricelist_scans_path %> <br />
<%= link_to 'Прайс на доставку',  admin_pricelist_deliveries_path %> <br />

<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>



    
    
    