<div class="cancel_area">
	<%= button_to "Отмена", order_path(current_order), {:class =>"button_style cancel", :confirm => "Вы действительно хотите отменить заказ?", :method => :delete } %>
</div>
 <div class="fl_clear"></div>