<%= image_tag("icons/no_orders.png", :border => '0', :class => 'float_left') %>
<p class="float_left"> У Вас пока нет заказов. <%= link_to 'Создать?', myoffice_path %></p>

<div class="fl_clear"></div>
