<%= link_to image_tag("icons/logout.png", :border => 0), :logout, :class => 'box_user_opt' %>
<%= link_to image_tag("icons/my_office.png", :border => 0), myoffice_path, :class => 'box_user_opt' %>

<div class="fl_clear"></div>
<div id="current_user"><%= link_to "#{current_user.first_name} #{current_user.second_name}", edit_user_path(current_user), :class => 'top_section' %></div>
