<table>
<tr>
  <td>
    <%= link_to "#{current_user.first_name} #{current_user.second_name}", edit_user_path(current_user) %>
  </td>
</tr>
<tr>
  <td>
    <%= link_to "Выйти", :logout %>
  </td>
</tr>
</table>
  	