<table>
<tr>
  <td>
    <%= link_to image_tag("icons/edit.png", :border => 0), edit_user_path(current_user), :class => 'box_user_opt' %>
  </td>
  <td>
    <%= link_to image_tag("icons/logout.png", :border => 0), :logout, :class => 'box_user_opt' %>
  </td>
</tr>
</table>
  	