<table>
<tr>
  <td>
    <%= link_to image_tag("icons/edit.png", :border => 0), edit_user_path(current_user) %>
  </td>
  <td>
    <%= link_to image_tag("icons/logout.png", :border => 0), :logout %>
  </td>
</tr>
</table>
  	