<div id="contact_mail">
  <%= image_tag("icons/mail.png", :border => '0', :id => 'mail') %>
  <div class="contact_text"><%= mail_to "info@printely.ru" %></div>
</div>
<div id="contact_phone">
  <%= image_tag("icons/phone.png", :border => '0', :id => 'phone') %>
  <div class="contact_text">8(926)927-65-78</div>
</div>
<div id="contact_skype">
  <%= image_tag("icons/skype.png", :border => '0', :id => 'skype') %>
  <div class="contact_text">printely_company</div>
</div>