<div id="slide_panel">
  <div id="slide_image">
    <div id="slide_1">
      <%= image_tag("1.png")%>
    </div>
    <div id="slide_2">
      <%= image_tag("2.png")%>
    </div>
    <div id="slide_3">
      <%= image_tag("3.png")%>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="slide_img_pag" class="slide_pagination" ></div>
</div>
