<div id="slide_panel">
  <div id="slide_image">
    <div id="slide_1">
      <%= link_to image_tag("slide_panel/1.png", :border => '0'), "/news/teper-my-pechataem-na-samokleyke" %>
    </div>
    <div id="slide_2">
      <%= link_to image_tag("slide_panel/2.png", :border => '0'), "/services/pechat-foto/subservices" %>
    </div>
    <div id="slide_3">
      <%= link_to image_tag("slide_panel/3.png", :border => '0'), "/myoffice" %>
    </div>
  </div>
  <div class="fl_clear"></div>
  <div id="slide_img_pag" class="slide_pagination" ></div>
</div>
