<tr class="grey_on_hover">
  <td><%= link_to 'X', lists_paper_density_path(density), :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
  <td><%=h (density_to_ru(density.density)) %></td>
  <td><%= link_to 'Редактировать', edit_lists_paper_density_path(density) %></td>
</tr>