<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      .orange {
          padding: 10px;
          background-color: orange;
           color: black;
      }
      
      p {
          font-size: 1em;
          line-height: 130%;
      }
      
      .float_right {
          float: right
      }
      
      .bold {
          font-weight: bold;
      }
      
      a.button_style_long_orange:link {
		    display:block;
		    text-align:center;
		    text-decoration:none;
		    background-color: #1BA1E2;
		    border: 0 none;
	    	color: white;
	    	padding: 9px 20px 10px 20px;
	    	margin-bottom: 10px;
	    	margin-left: 0px;
	    	margin-top: 10px;
	    	margin-right: 0px;
	   }

    </style>
  </head>
  <body>
    <h1 class="orange">Здравствуйте, <%= @user.first_name %>!</h1>
	<%= raw(@mailing.body) %>
    <a href="http://printely.ru"><img src="http://printely.ru/assets/logo_sbold_black.png" border="0" class="float_right" alt="&copy; Printely. Все права защищены" /></a>
  </body>
</html>
