<% if paper_specification.in_stock == true %>
	<tr>
	  <td><%= h (paper_specification.paper_size_with_iso) %></td>
	  <td><%= h (paper_specification.paper_type_with_grade) %></td>
	  <td><%= h (paper_specification.margins_list) %></td>
	  <td><%= h (prices_list(paper_specification)) %></td>
	</tr>
<% end %>

