	<tr>
	  <td><%= h (pricelist_line.paper_size_with_iso) %></td>
	  <td><%= h (pricelist_line.paper_type_with_grade) %></td>
	  <td><%= h (number_to_currency((pricelist_line.price+print_color.price), :unit => "руб.", delimiter: ".", precision: 2)) %></td>
	</tr>


