<div class="article">
  <%= link_to image_tag(article_for_user.header_image.url), article_path(article_for_user) %>
  <div class="article_title">
    <%= raw(article_for_user.title) %>
  </div>
  <div class="article_synopsis">
    <%= raw(article_for_user.synopsis) %>
  </div>
  <div class="article_goto">
    <%= link_to image_tag("icons/goto_link.png"), article_path(article_for_user) %>
  </div>
</div>