  <% categories = Category.find(:all) %>
  <% categories.each do |category| %>
  <div class="container_for_link_box">
    <%= link_to_unless_current category.name, category_articles_path(category), :class => 'box' %>
  </div>
  <% end %>