<div class="form_align">
	<%= f.label :title %>
	<%= f.text_field :title, :class => 'req_input' %>
</div>

<div class="form_align">
	<%= f.label :key %>
	<%= f.text_field :key, :class => 'req_input' %>
</div>




