<tr>
  <td><%= link_to 'X', lists_order_status_path(status), :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
  <td><%=h (status.title) %></td>
  <td><%=h (status.key) %></td>
  <td><%= link_to 'Редактировать', edit_lists_order_status_path(status) %></td>
</tr>