<div class="first_level">
  <%= link_to service.title, service_subservices_path(service), :class => "site_map_link" %>
</div>
<% subservices = Subservice.for_service(service)

<% if subservices %>
  <%= render :partial => 'subservice', :collection => subservices, :locals => {:service => service} %>
<% end %>