<div class="left_site_map">
  <%= render :partial => 'zero_level', :collection => @left_sections %>
</div>
<div class="right_site_map">
  <%= render :partial => 'zero_level', :collection => @right_sections %>
</div>
<div class="fl_clear"></div>