<h2><%= @title %></h2>
<h3>Бумага</h3>
	<%= render :partial=> 'orders/share/documents_specification', :locals => {:lines => @lines} %>

<h3>Упаковка</h3>
будет отображаться, когда сделаю справочник упаковок.
пока используем правило:<br/>
если в заказе <br/>
10х15 до 20 штук - С6;<br/>
10х15 больше 20 штук - С5;<br/>
13х18 до 20 штук - С5;<br/>
13х18 больше 20 штук - С4;<br/>
если есть А5 - С4;<br/>
если есть А4 - С4.<br/>


