	<div class="form_shape">
		<%=  form_for :user, :url => reset_password_users_path do |form| %>
		    <div class="form_align">
		      <%= form.label 'Введите Ваш email' %>
		      <%= form.text_field :email,
		                        :size => User::EMAIL_SIZE,
		                        :maxlength => User::EMAIL_MAX_LENGTH %>
		    </div>
		    <div class="submit_area">
		      <%= submit_tag "Сбросить", :class => 'submit' %>
		    </div>
		<% end %>
	</div>
