<h2>Пользователи</h2>
<table class ="admin">
<tr>
  <th></th>
  <th> Имя <br/></th>
  <th>Фамилия<br/></th>
  <th>Email<br/></th>
  <th>Создан<br/></th>
  <th>Роль<br/></th>
  <th></th>
</tr>
<%= render :partial => 'user', :collection => @users  %>
</table>
