<tr>
  <td>
    <% if section.controller == 'no' %>
      <%= link_to 'Х', section_path(section), :method => :delete, :confirm => 'Все страницы этого раздела также удалятся! Действительно хотите удалить раздел?' %>
    <% end %>
  </td>
  <td><%= section.title %></td>
  <td><%= section.order %></td>
  <td><%= link_to 'Редактировать', edit_section_path(section) %></td>
</tr>