<div class="form_align">
  <%= f.label(:status) %>
  <%= f.select(:status, Order::STATUS) %>
</div>
<%#*<div class="form_align">%>
  <%#= f.label(:cost) %>
  <%#= f.text_field(:cost) %>
<%#*</div>%>
<div class="form_align">
  <%= f.label(:manager_comment) %>
  <%= f.text_area(:manager_comment) %>
</div>
