<div class="form_align">
  <%= f.label(:order_status_id) %>
  <%= f.collection_select :order_status_id, Lists::OrderStatus.all, :id, :title %>
</div>
<div class="form_align">
  <%= f.label(:manager_comment) %>
  <%= f.text_area(:manager_comment) %>
</div>
