<tr>
  <td><%=h (order.id) %></td>
  <td><%=h (Russian::strftime(order.created_at, "%d %B %Y, %T")) %></td>
  <td><%= link_to image_tag("icons/details_view_order.png", :border => "0"), order_path(order) %></td>
</tr>