<h2 class="orange">Мои заказы</h2>
<table class ="user">
<tr>
  <th>Номер заказа<br/></th>
  <th>Создан<br/></th>
  <th></th>
</tr>
  <%= render :partial => 'order', :collection => @orders  %>
</table>
<table>
  <tr>
    <td>
      <%= link_to 'Вернуться в личный кабинет', myoffice_path, :class =>"button_style_long" %>
    </td>
  </tr>
</table>
