<%#= javascript_include_tag "jquery.damnUploader" %>
<%#= javascript_include_tag "interface" %>

<%#= javascript_include_tag "new_uploader" %>
<h2 class="orange">Загрузите Ваши файлы</h2>
  <%= form_for @order, :url => orders_path, :html => { :multipart => true } do |order| -%>

  <input type="file" id="fileInput" multiple style="display:none" >
  <a href="#" id="fileLink">Выберите файлы</a>
  <div id="fileList">
  </div>

  <div class="fl_clear"></div>
  <div id="actions">
    <span id="info-count">Изображений не выбрано</span><br/>
    Общий размер: <span id="info-size">0</span> Кб<br/><br/>
    <a href="#" id="upload-all">Загрузить все</a>
  </div>

    <div class="submit_area">
     <%= submit_tag 'Оформить заказ', :class => 'submit'  %>
     <%= link_to 'Отмена', myoffice_path, :class =>"button_style", :confirm => 'Действительно хотите отменить заказ?'%>
      </div>
  <% end -%>
