<% content_for :content do %>
  <div id="sidebar">
    <%= render :partial => 'page_of_section', :collection => @pages_of_section %>
  </div>
  <%= render :partial => 'show_page', :locals => {:page => @page} %>
<% end %>