<div class="container_for_link_box">
  <div class="link_box">
    <%= link_to_unless_current page_of_subsection.title, section_subsection_page_path(current_section, current_subsection, page_of_subsection), :class => 'box' %>
  </div>
</div>
