<h2>Обратная связь от клиентов</h2>
<table class ="default_table">
  <tr class="header">
    <th></th>
    <th><%= Letter.human_attribute_name("name") %></th>
    <th><%= Letter.human_attribute_name("created_at") %></th>
    <th></th>
  </tr>

    <%= render :partial => 'letter_for_admin', :collection => @letters %>

</table>

  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
