<table id="fileList" class="default_table">
	<thead>
	  <tr id="fileList_header" class="header">
	    <%= render :partial=>'orders/doc_print/header_table_with_documents' %>
	  </tr>
	</thead>
  <%= render :partial=>'documents/doc_print/show_doc', :collection => order.documents %>
</table>