<%= error_messages_for 'right' %>
<h1>Создание права</h1>

<%= form_for :right, :url => rights_path do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  
    <div class="submit_area">
      <%= submit_tag 'Сохранить', :class => 'submit' %>
    </div>
<% end %>

 
