
.red_line {
    text-indent: 35px;
}


.orange {
	color: white;
    padding: 10px;
    background-color: orange;
}


.light_blue {
	color: white;
    padding: 10px;
    background-color: #01bcf3;
}

.light_green {
	color: white;
    padding: 10px;
    background-color: #7FBA00;
}

.orange_double {
	height: 80px;
    padding: 10px;
    background-color: orange;
}

.grey_color {
    padding: 10px;
    background-color: #EAEAEA;
    color: #666666;
}

.dark_grey_color {
    padding: 10px;
    background-color: #C7C7C7;
    color: #666666;
}

.grey_text {
    color: #666666;
}


.blue {
    padding: 10px;
    background-color: #a8edfe
}

.big_text {
    font-size: 3em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.float_right {
    float: right
}

.float_left {
    float: left
}

.fl_clear {
    float: none;
    clear: both;
}

.hidden {
	display:none;
}


.selected {
	background-color: #FFFC9E;
}
	
.pointer {
	cursor:pointer;
}

.center_container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}


