/*панель навигации-------------------------*/
#boardlinks_nav {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 33px;
    line-height: 33px;
}
.boardseparator {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.boardlink {
    float: left;
}

.boardtext {
    float: left;
}


/*order steps wizard*/

div.wizard_navigator {
    color: #E2E2E2;
    display: block;
    font-size: 1.5em;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

div.wizard_step {
    display: block;
    float: left;
    height: 70px;
    width: 33%;
    text-align: center;
}

div.wizard_step span.number {
    font-size: 2em;
    margin-right: 10px;S
}

div.wizard_step.current.documents {
	color: #01bcf3
}

div.wizard_step.current.delivery {
	color: #7fba00
}

div.wizard_step.current.confirm {
	color: #dc5900
}


div.wizard_step.finished {
	color: gray
}

/*дерево вариантов выбора действий*/
.wrapper_image_and_question{
  position: relative;
}

.wrapper_question {
  display: block;
  margin-left: 164px;
  margin-right: 164px;
  width: 572px;
  position: absolute;
  top: 255px;

}

.trim_left {
  float: left;
  display: block;
   width: 0;
   height: 0;
   border-bottom: 45px solid white;
   border-left: 45px solid transparent;
}

.trim_right {
    float: left;
   display: block;
   width: 0;
   height: 0;
   border-bottom: 45px solid white;
   border-right: 45px solid transparent;
}

.wrapper_question h2 {
  float: left;
  background-color: white;
  height: 45px;
  display: block;
  text-align: center;
  width: 480px;
}

.chart_options {
  display: block;
  height: 70px;
  width: 900px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.end_node {
  background: #b5babf;
  display: block;
  width:  5px;
  height: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.vertical_line {
  width: 1px;
  height: 30px;
  background: #b5babf;
  margin-left: auto;
  margin-right: auto;
}


