/* 
    Document   : orders
    Created on : 01.03.2013, 15:47:46
    Author     : v-alsobo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table td.delivery_location_edit {
	height: 170px;
	width: 560px;
    padding: 5px;
    vertical-align: middle;
    text-align: center
}

table td.delivery_location_show {
	text-align: left;
	padding: 5px;
	padding-left: 100px;
	height: 80px;
	width: 460px;
	vertical-align: middle;
}

table td.delivery_location_edit select {
    width: 365px;
}

table td.delivery_location_edit label {
    width: 160px;
}

table td.delivery_location_edit input {
	width: 350px;
}

table td.delivery_date_edit {
	height: 170px;
	vertical-align: top;
    padding: 5px;
    text-align: center
}

table td.delivery_date_show {
	height: 80px;
	vertical-align: middle;
    padding: 5px;
    text-align: center
}

table td.delivery_date_edit input#datepicker {
    width: 150px;
    text-align: center;
}

table td.delivery_date_edit span.time {
	font-size: 1.3em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    margin-top: 37px;
}

table td.delivery_date_edit span.dash {
	font-size: 1.3em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
    text-align: center;
    float: left;
    display: block;
    width: 34px;
    margin-top: 3px;
}

table td.delivery_date_edit input#timepicker_start {
    float: left;
    width: 50px;
    text-align: center;
    margin-left: 8px;

}
table td.delivery_date_edit input#timepicker_end {
    float: left;
    width: 50px;
    text-align: center;

}

table td.delivery_price {
    width: 120px;
   	font-size: 1.3em;
   	padding: 5px;
    vertical-align: middle;
    text-align: center
}

/*форма для загрузки файлов------------------------------------------------------------*/

#fileList td.upload {
    width: 161px;
    height: 152px;
    border-bottom: 20px solid white;
    padding: 0px;
}

#fileList td.upload .container_for_link_delete_docfile {
    position: relative
}



#fileList td.upload img.thumb {
    margin-top: 13px;
    margin-right: 11px;
    float: right;
}

#fileList td.page_count {
    width: 190px;
	border-bottom: 20px solid white;
	padding: 0px;
	text-align: center;
}

#fileList td.page_count input {
    width: 66px;
	float: right;
    border: 1px solid #D6D3D1;
    margin-top: 10px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
    text-align: center;
}

#fileList td.page_count button.decrease_page_count {
    margin-top: 10px;
}

#fileList td.page_count button.increase_page_count {
    margin-top: 10px;
    margin-right: 40px;
}

#fileList td.paper {
	width: 210px;
	border-bottom: 20px solid white;
	padding: 0px;
}

#fileList td.paper div.paper_size {
	width: 190px;
	height: 43px;
	margin-right: 10px;
	margin-left: 10px;
}

#fileList td.paper div.paper_size label {
	float: right;
	margin-top: 10px;
}
#fileList td.paper div.paper_size select {
    display: block;
    width: 120px;
	float: right;
    border: 1px solid #D6D3D1;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#fileList td.paper div.paper_type {
	width: 190px;
	height: 43px;
	margin-right: 10px;
	margin-left: 10px;
}

#fileList td.paper div.paper_type label {
	float: right;
	margin-top: 10px;
}
#fileList td.paper div.paper_type select {
    display: block;
    width: 120px;
	float: right;
    border: 1px solid #D6D3D1;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#fileList td.paper div.quantity {
	width: 190px;
	height: 43px;
	margin-right: 10px;
	margin-left: 10px;
}

#fileList td.paper div.quantity label {
	float: right;
	margin-top: 10px;
}
#fileList td.paper div.quantity input {
    width: 78px;
	float: right;
    border: 1px solid #D6D3D1;
    margin-top: 10px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
    text-align: center;
}

#fileList td.paper div.quantity button.decrease_quantity {
    margin-top: 10px;
}

#fileList td.paper div.quantity button.increase_quantity {
    margin-top: 10px;
}

#fileList td.print_settings {
	width: 200px;
	border-bottom: 20px solid white;
    padding: 0px;
}

#fileList td.print_settings div.margins {
	width: 190px;
	height: 43px;
	margin-right: 5px;
	margin-left: 5px;
}

#fileList td.print_settings div.margins select{
    display: block;
    float: right;
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #D6D3D1;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#fileList td.print_settings div.margins label {
    float: right;
    margin-top: 10px;
}

#fileList td.print_settings div.print_color {
	width: 190px;
	height: 86px;
	margin-right: 5px;
	margin-left: 5px;
}

#fileList td.print_settings div.print_color label {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#fileList td.print_settings div.print_color select {
    display: block;
    width: 180px;
	float: right;
    border: 1px solid #D6D3D1;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#fileList td.print_settings div.print_color span {
	padding-top: 20px;
	display: block;
}

#fileList td.print_settings div.user_comment {
	width: 190px;
	height: 43px;
	margin-right: 5px;
	margin-left: 5px;
}

#fileList td.print_settings div.user_comment textarea {
    width: 180px;
    height: 42px;
    resize: none;
    display: block;
    float: right;
    border: 1px solid #D6D3D1;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#fileList td.print_settings div.user_comment span {
	font-style: italic;
	display: block;
}

#fileList td.print_settings div.print_setting_1 {
	width: 190px;
	height: 43px;
	margin-right: auto;
	margin-left: auto;
}

#fileList td.image_process {
	width: 190px;
	border-bottom: 20px solid white;
    padding: 0px;
}

#fileList td.image_process div.pre_print_operation {
	width: 180px;
	height: 43px;
	margin-right: 5px;
	margin-left: 5px;
}

#fileList td.document_cost {
    width: 128px;
    border-bottom: 20px solid white;
    padding: 0px;
}

#fileList td.document_cost div.document_cost_value {
	width: 110px;
   	margin-right: 9px;
	margin-left: 9px;
}


#fileList td.user_comment textarea {
    width: 140px;
    height: 64px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #D6D3D1;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

/*цветовые блоки с параметрами заказа------------------------------*/

.container_for_label_created_at_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_created_at_order label{
    position: absolute;
    top: -25px;
    right: 30px;
    color: grey;
}

.container_for_created_at_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #8A2BE2;
    color: white;
    padding: 8px;
}

.container_for_label_status_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_status_order label{
    position: absolute;
    top: -25px;
    right: 63px;
    color: grey;
}

.container_for_status_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #008B00;
    color: white;
    padding: 8px;
}

.container_for_label_cost_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_cost_order label{
    position: absolute;
    top: -25px;
    right: 13px;
    color: grey;
}
.container_for_cost_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #8B1A1A;
    color: white;
    padding: 8px;
}

.container_for_label_pre_cost_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_pre_cost_order p {
    position: absolute;
    top: -40px;
    right: 3px;
    color: grey;
}

.container_for_pre_cost_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #0000CD;
    color: white;
    padding: 8px;
}

.total_cost_order_label{
    min-width: 50px;
    height: 30px;
    display: block;
    background-color: #8B1A1A;
    color: white;
    margin-top: 20px;
    padding: 8px;
    font-size: 1.5em;
    text-align: right;
    float: right
}

.total_cost_order{
    min-width: 210px;
    height: 30px;
    display: block;
    background-color: #8B1A1A;
    color: white;
    margin-top: 20px;
    padding: 8px;
    font-size: 1.5em;
    text-align: right;
    float: right
}

/*------------------------------*/
/*печать конвертов- settings for brother mfc7360n----------------------------*/

#cover_c6 {
    width: 154mm;
    height: 101mm;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#cover_c5 {
    width: 221mm;
    height: 149mm;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

#cover_c4 {
    width: 316mm;
    height: 216mm;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}


#cover_c6 img {
    position: relative;
    right: -100mm;
    top: 8mm;
}


#cover_c5 img {
    position: relative;
    right: -165mm;
    top: 40mm;
}


#cover_c4 img {
    position: relative;
    right: -261mm;
    top: 110mm;
}

/*fabric canvas----------------------------*/

.editor {
	position:relative;
	width: 900px;
	height:700px;
	
	margin-top:30px;
	margin-bottom: 30px;
	border: 0px;
}

.editor_container {
	position:absolute;
	width:620px;
	float: left;	
}

.canvas_panel {
	display: block;
	position: relative;
	width:618px;
	height:580px;
	border: 1px solid #ddd
}

#canvas_bg {
	position: absolute;
}

.canvas-container {
	margin-top: 165px;
	margin-left: 30px;
	border: 1px dotted red;
}

.sidebar_container {
	position:absolute;
	width: 300px;
	height:580px;
	margin-left: 630px;
	border: 0px;
	float:left;
}


#text_inputs_wrapper {
	position:relative;
}


#text_inputs_wrapper div.text_container {
	margin-top: 10px;
	position: relative;
}

#text_inputs_wrapper input.text_field {
	width: 240px;
	position: static;
}

div.remove_element {
	position:absolute;
	top: 0px;
	right: 0px;
}

.top_toolbar {
	position: absolute;
	z-index:+1;
	display:block;
	height: 50px;
	width: 618px;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
}

.color_tool {
	float: left;
	display: block;
	height: 45px;
	width: 100px;
	margin-left:20px;
}

.color_tool span.label {
	display:block;
	margin-top: 13px;
	margin-right: 10px;
	float: left;
}

.minicolors input[type=hidden] + .minicolors-swatch {
	margin-top:7px;
}

.minicolors-swatch-color {
	width: 35px;
	height: 35px;
	margin-top:7px;
}

.minicolors-theme-default .minicolors-swatch {
	height: 33px;
}

.font_family_tool {
	float: left;
	display: block;
	height: 45px;
	width: 280px;
	margin-left:20px;
}

.font_family_tool span.label {
	display:block;
	margin-top: 13px;
	margin-right: 10px;
	float: left;
}

.font_style_tool {
	float: left;
	display: block;
	height: 45px;
	width: 120px;
	margin-left:20px;
}

