/* 
    Document   : orders
    Created on : 01.03.2013, 15:47:46
    Author     : v-alsobo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*стиль конпки*/

#document_docfileUploader {
    cursor: pointer;
    width: 200px;
    height: 50px;
}

/*стиль для таблиц для заказов*/
.user_order {
    width: 100%;
}

.user_order tr td {
    padding: 5px;
    vertical-align: middle;
    text-align: center
}

.user_order tr:hover{
    background-color: #e8e8e8;
}

.user_delivery {
    width: 100%;
}

.user_delivery tr td {
    padding: 5px;
    vertical-align: middle;
    text-align: center
}

/*форма ввода информации о доставке*/
.form_align_order_delivery_street select {
    border: 1px solid #D6D3D1;
    height: 30px;
    width: 250px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    font-size: 1em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

.form_align_order_delivery_address input {
    border: 1px solid #D6D3D1;
    height: 25px;
    width: 200px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    font-size: 1em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

.form_align_order_delivery_comment textarea{
    border: 1px solid #D6D3D1;
    height: 50px;
    width: 270px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    font-size: 1em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}


/*форма для загружки файлов------------------------------------------------------------*/

#fileList th {
    width: 150px;
    font-weight: normal;
    text-align: center;
}

#fileList tr:hover{
    background-color: #e8e8e8;
}

#fileList td.upload, td.print_format, td.paper_type, td.quantity, td.margins, td.user_comment, td.document_price {
    width: 150px;
}

#fileList td.upload .container_for_link_delete_docfile {
    position: relative
}

#fileList td.upload .link_delete_docfile {
    position: absolute;
    top: -10px;
    right: 2px;
}

#fileList td.upload img {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: auto;
}

#fileList td.print_format select {
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

#fileList td.paper_type select {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

#fileList td.quantity input {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#fileList td.margins select {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

#fileList td.user_comment textarea {
    width: 140px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------*/
/*цветовые блоки с параметрами заказа------------------------------*/

.container_for_label_created_at_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_created_at_order label{
    position: absolute;
    display: none;
    top: -25px;
    right: 30px;
    color: grey;
}

.container_for_created_at_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #8A2BE2;
    color: white;
    padding: 8px;
}

.container_for_label_status_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_status_order label{
    position: absolute;
    display: none;
    top: -25px;
    right: 63px;
    color: grey;
}

.container_for_status_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #008B00;
    color: white;
    padding: 8px;
}



.container_for_label_cost_order{
    position: relative;
    width: 166px;
    height: 70px;
    display: block;
    text-align: center;
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container_for_label_cost_order label{
    position: absolute;
    display: none;
    top: -25px;
    right: 43px;
    color: grey;
}
.container_for_cost_order{
    width: 150px;
    height: 50px;
    display: block;
    background-color: #8B1A1A;
    color: white;
    padding: 8px;
}




