/*font family select list jQuery UI-----------------------------------*/

#font_family_picker-menu li:nth-child(1){
    font-family: Andale Mono, monospace;
}

#font_family_picker-menu li:nth-child(2){
    font-family: Arial,sans-serif;
}

#font_family_picker-menu li:nth-child(3){
    font-family: asylbek;
}

#font_family_picker-menu li:nth-child(4){
    font-family: Courier New, monospace;
}

#font_family_picker-menu li:nth-child(5){
    font-family: Impact, fantasy;
}

#font_family_picker-menu li:nth-child(6){
    font-family: katherine;
}

#font_family_picker-menu li:nth-child(7){
    font-family: majestic;
}

#font_family_picker-menu li:nth-child(8){
    font-family: monotype corsiva;
}

#font_family_picker-menu li:nth-child(9){
    font-family: romashulka;
}

#font_family_picker-menu li:nth-child(10){
    font-family: rosa marena;
}

#font_family_picker-menu li:nth-child(11){
    font-family: segoe print;
}

#font_family_picker-menu li:nth-child(12){
    font-family: Times New Roman, serif;
}

#font_family_picker-menu li:nth-child(13){
    font-family: trafaret;
}

#font_family_picker-menu li:nth-child(14){
    font-family: Verdana, sans-serif;
}

#font_family_picker-menu li:nth-child(15){
    font-family: vivaldi;
}

#font_family_picker-menu li:nth-child(16){
    font-family: xiomara;
}


