body {
    margin:0;
    padding:0;
    background-color: white;
    font-size: 80%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
/*    font-family: "Segoe UI",helvetica,arial,sans-serif;*/
}
/*панели---------------------------------------------------------------------*/
#header {
    height: 60px;
    width: 100%;
    background-color: #262626;
}

#flash_panel {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#slide_panel {
    position: relative;
    height: 300px;
    width: 100%;
}

#content_panel {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    min-height: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#first_bottom_panel {
    height: 45px;
    width: 100%;
    background-color: #f2f2f2;
}

#second_bottom_panel {
    height: 28px;
    width: 100%;
    background-color: #3f3f3f;
}
/*-----------------------------------------------------------------------------------------*/
/*контейнеры верхней панели---------------------------------------------------------------------*/
#top_nav {
    position: relative;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
#logo_container {
    padding-top: 20px;
    width: 150px;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

#user_options {
    height: 25px;
    width: 100px;
    float:right;
    margin-left: 20px;
}

a.box_user_opt:link, a.box_user_opt:visited {
    display:block;
    color:white;
    background-color:#378cff;
    max-width: 50px;
    text-align:center;
    text-decoration:none;
    padding-top: 5px;
    padding-bottom: 5px;

}

a.box_user_opt:hover, a.box_user_opt:active {
    background-color: #3b6fb5;
}

.top_section_nav {
    display:block;
    text-align: center;
    float:right;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 1.2em;
    color: #378cff;
    margin-top: 20px;
}

a.top_section:link, a.top_section:visited {
    color: white;
    text-align:center;
    text-decoration:none;
    padding: 0px;
    font-size: inherit;
}

a.top_section:hover {
    color: #378cff;
    text-align:center;
    text-decoration:none;
    padding: 0px;
}
/*-----------------------------------------------------------------------------------------*/
/*контейнеры slide - панели-----------------------------------------------------------------------------*/

#slide_image {
    position: absolute;
    height: 300px;
    width: 100%;
}
#slide_image .slide_img_1 {
    background-color: red
}

#slide_image .slide_img_2 {
    background-color: yellow
}

#slide_image .slide_img_3 {
    background-color: green
}

#slide_image div {
    width: 1900px;
    display: block;
    float: left;
}

#slide_image div img {
    width: 900px;
    height: 300px;
    margin-left:500px;
}

#slide_background {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 0px;
    z-index:-1;
}

/*#slide_background img {
    display: block;
    float: left;
}*/

.slide_pagination {
    margin-top: 10px;
    text-align: center;
}

.slide_pagination a {
    background: #cccccc;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}

.slide_pagination a.selected {
    background:#1BA1E2;
    cursor: default;
}
.slide_pagination a span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

/*контенеры центральной панели-----------------------------------------------------------------------------*/

#sidebar {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 150px;
    min-height: 400px;
    float: left;
}

#content {
    margin-left: 150px;
    min-height: 400px;
    padding: 25px;
}

/*контейнеры нижних панелей-----------------------------------------------------------------------------------------*/
#bot_nav {
/*    position: relative;*/
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    width: 900px;
}

#all_rights {
    font-size: 0.9em;
    float: left;
    width: 30%;
    color: #999999;
}

#bot_section_nav {
    display:block;
    text-align: center;
    float:right;
    font-size: 0.9em;
    width: 25%;
    color: #999999;
}

a.bot_section:link, a.bot_section:visited {
    width: 20%;
    color: #999999;
    text-decoration:none;
    padding-left: 5px;
    padding-right: 5px;
}

a.bot_section:hover {
    color: #F7941D;
    text-decoration:none;
}

/*общие*/
h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
   }

h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    line-height: 130%;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #999999;
}

.center {
    text-align: center;
}

.float_right {
    float: right
}

.fl_clear {
    clear: both
}

.multi_form {
    width: 50%;
    height: 300px;
    float: left;
}

table {
    border-collapse: collapse;
}

/*списки*/
ul.square {
    list-style-type: square;
    float: left;
}

/*ссылки и кнопки --------------------------------------------------------------------------*/
a:link {text-decoration: none; color: #0066ff}
a:visited {text-decoration: none; color: #0066ff}
a:hover {text-decoration: underline;}

a.logo {text-decoration: none; color: white}

a.button_style:link, a.button_style:visited {
    display:block;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    background-color: #1BA1E2;
    border: 0 none;
    color: white;
    max-width: 90px;
    padding: 10px 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
}

a.button_style:hover {
    cursor: pointer;
}

a.box:link, a.box:visited {
    display:block;
    font-weight:bold;
    color:#0066ff;
    background-color:#ffffff;
    width:100%;
    text-align:left;
    padding:5px;
    text-decoration:none;
}

a.box:hover,a.box:active{
    background-color:#cccccc;
}

a.for_admin:link,a.for_admin:visited {
    display:block;
    color:#000000;
    font-weight: bold;
    text-align: right;
    background-color:white;
    width:120px;
    padding: 4px;
    text-decoration:none;
    float: left;
}

a.for_admin:hover,a.for_admin:active{
    background-color:#c2c1c1;
}

.submit_area {
    height: 50px;
}

.submit {
    float: right;
    background-color: #1BA1E2;
    border: 0 none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 0px;
    font-weight:bold;
}


/*стиль для таблиц и меню у администратора*/
.admin {
    width: 100%;
}

.admin th, .admin td {
    font-size: 1em;
    border: 1px solid #a1d8ff;
    padding: 3px 7px 2px 7px;
}

.admin th {
    font-size: 1.1em;
    background-color: #a1d8ff;
    text-align: center
}

#admin_menu {
    position: fixed;
    top: 20%;
    right: 0px;
    background-color: #ffffff;
    width: 128px;
    border: 1px solid #a1d8ff;
}

/*обработка ошибок и сообщений-------------------------------------------------*/



/*общее сообщение*/
#notice {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #F7941D;
}

/*сообщение об ошибке*/
#error {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: red;
}

/*сообщение о неправильно выбранном порядковом номере раздела*/
#number_busy {
    font-style: italic;
    font-weight: bold;
    color: #ff0000;
}

/*обработка ошибок модели и выделение поля при введении неверных данных-------*/
.fieldWithErrors {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: red;
}

#errorExplanation {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: red;
}

#errorExplanation h3 {

}

#errorExplanation p {

}

#errorExplanation ul li {

}

/*стиль пагинации страниц-----------------------------------------------*/
.pagination {
    padding: 3px;
    margin: 3px;
}

.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #aaaadd;
    text-decoration: none;
    color: #E87830;
}

.pagination a:hover, .pagination a:active {
    border: 1px solid #000099;
    color: #000;
}

.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px; 
    border: 1px solid #E87830;
    font-weight: bold;
    background-color: #E87830;
    color: #FFF;
}

.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
}

/*оформление статей-----------------------------------------------*/
.article {
    position: relative;
    padding: 10px;
/*    border:  5px solid gray;*/
    margin: 0px;
}

.category {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.property_article {
    font-style: italic;
}

/*оформление предложений-------------------------------------*/
.offer {
    position: relative;
    padding: 10px;
    margin: 0px;
}

#assets {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #E5EECC;
    border: 1px solid #C3C3C3;
}

/*фотогалерея-------------------------------------*/
.thumb {
    margin: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

.thumb img {
/*    display: inline;*/
    margin: 3px;
    border: 1px solid #E5EECC;
}

.thumb a:hover img {border: 1px solid #0000ff;}

.delete_thumb {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3px;
    text-align: center;
}


/*оформление форм ввода данных-------------------------------------*/
.form_shape {
    padding:10px;
    width: 700px;
}

.form_align {
    margin-top: 20px;
}

.form_align label {
    float: left;
    display: block;
    text-align: right;
    width: 214px;
    margin-right: 20px;
    margin-top: 9px;
}

.form_align input {
    border: 1px solid #D6D3D1;
    height: 30px;
    width: 450px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    font-size: 1.3em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

.form_align .req_input {
    border-bottom: 1px solid #D6D3D1;
    border-left: 1px solid red;
    border-top: 1px solid #D6D3D1;
    border-right: 1px solid #D6D3D1;
    height: 30px;
    width: 450px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    font-size: 1.3em;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

.form_align textarea {
    border: 1px solid #D6D3D1;
    padding: 7px;
    resize: none;
    font-size: 1.3em;
    width: 450px;
    height: 200px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

.form_align .req_textarea {
    border: 1px solid #D6D3D1;
    border-left-color: red;
    padding: 7px;
    resize: none;
    font-size: 1.3em;
    width: 450px;
    height: 200px;
    font-family: "Segoe UI",helvetica,arial,sans-serif;
}

/*------------------------------------------------------------------*/
/*кнопка------------------------------------------------------------*/



/*------------------------------------------------------------------*/