<tr class="grey_on_hover">
  <td><%= link_to 'X', lists_paper_grade_path(grade), :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
  <td><%=h (grade.grade) %></td>
  <td><%= link_to 'Редактировать', edit_lists_paper_grade_path(grade) %></td>
</tr>