<h2>Классы бумаги</h2>
<p><%= link_to 'Создать', new_lists_paper_grade_path, :class => 'button_style_long' %></p>
<table class="admin">
  <tr>
    <th></th>
    <th><%= Lists::PaperGrade.human_attribute_name("grade") %></th>
    <th></th>
  </tr>

  <%= render :partial => 'grade' , :collection => @grades %>

</table>
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
    
    
    