<h2>Редактирование категорий статей</h2>
  <p><%= link_to 'Создать категорию', new_category_path, :class => 'button_style_long' %></p>
  <table class ="admin">
    <tr>
      <th></th>
      <th><%= Category.human_attribute_name("name") %></th>
      <th></th>
    </tr>

    <%= render :partial => 'category_for_admin', :collection => @categories %>

  </table>
  
<%= link_to 'Назад', admin_users_path, :class => 'button_style' %>
