<tr>
  <td><%= link_to 'X', lists_paper_type_path(paper_type), :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
  <td><%=h (paper_type.paper_type) %></td>
  <td><%= paper_type.paper_grade.grade unless paper_type.paper_grade.nil? %></td>
  <td><%= link_to 'Редактировать', edit_lists_paper_type_path(paper_type) %></td>
</tr>