<tr class="grey_on_hover">
  <td><%= link_to 'X', admin_lists_delivery_town_path(town), :confirm => 'Вы действительно хотите удалить?', :method => :delete %></td>
  <td><%=h (town.title) %></td>
  <td><%= town.delivery_zone.title unless town.delivery_zone.nil? %></td>
  <td><%= link_to 'Редактировать', edit_admin_lists_delivery_town_path(town) %></td>
</tr>