<%= error_messages_for :subservice %>
<h2>Редактирование подуслуги</h2>
<div class="form_shape">
  <%= form_for :subservice, :url => subservice_path(@subservice), :html => { :method => :put } do |f| -%>

    <%= render :partial => 'form', :locals => {:f => f} %>

    <div class="submit_area">
      <%= submit_tag 'Сохранить', :class => 'submit' %>
    </div>
  <% end -%>
</div>