<% if @page_about_service != nil %>
  <%= render :partial => 'pages/show_page', :locals => {:page => @page_about_service} %>
<% else %>
  <p>Описание услуги отсутствует.</p>
<% end %>

<% if @pricelist_for_service_model_name != nil %>
	<div class=grey_color>
		<table id="contact_info">
	  		<%= render :partial => "#{@pricelist_for_service_table_name}/line", :collection => @lines_of_pricelist %>
		</table>
	</div>
<% else %>
  <p>Прайс-листа на эту услугу нет.</p>
<% end %>

<%= render :partial => 'subservice_for_user', :collection => @subservices, :locals => { :service_id => @service.permalink} %>

<div class="fl_clear">
</div>
