<%#= render :partial => 'pages/show_page', :locals => {:page => @page_about_service} %>

<%#= render :partial => 'subservice_for_user', :collection => @subservices %>

<%#*<div class="clearfix">%>

<%#*</div>%>
test