<% content_for :stylesheets do %> 
  #sidebar
  #content
<% end %>

<% content_for :content_panel do %>
  <div id="sidebar">
    <%= render :partial => 'categories' %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>