<% content_for :stylesheets do %>
  #content_panel {min-height: 300px}
<% end %>

<% content_for :middle_panel do %>
  <%= render :partial => 'share/slide_panel' %>
<% end %>

<% content_for :content_panel do %>
  <%= yield %>
  <div id="bottombar">
    <%= render :partial => 'share/bottombar_for_welcome', :locals => {:news_for_user => @news_for_user} %>
  </div>
<% end %>


<%= render :template => 'layouts/application' %>
